<!---------- Главные теги ---------->
<meta charset="UTF-8" />
<meta http-equiv="content-type" content="text/html" />
<meta name="author" content="Kudryavtsev Nicolay" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!---------- Фавиконы ---------->
<!-- prettier-ignore -->
<link rel="icon" type="image/png" media="all" sizes="32x32" href="img/favicon/favicon-32x32.png"/>
<!-- <link rel="manifest" href="/favicon/site.webmanifest" /> -->

<!---------- Мета-данные сайта (для поисковиков) ---------->
<title lang="en"><%=data_4_render.title[1]%></title>
<meta name="description" content="<%=data_4_render.descr[0]%>" lang="ru" />
<meta name="keywords" content="<%=data_4_render.metaKeyWords%>" />

<!---------- Необязательные ---------->
<meta name="rating" content="general" />
<meta name="copyright" content="Copyright 2023" />

<!---------- Для мобильных устройств ---------->
<meta name="format-detection" content="telephone=no" />
<meta name="HandheldFriendly" content="true" />

<!---------- http-equiv ---------->
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<!---------- Подключаем CSS ---------->
<link type="text/css" href="/css, scss/Styles.css" rel="stylesheet" />